.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 550px;
    min-height: 550px;
    left: 95px;
    top: 112px;
    background: #F5F7FB;
    box-sizing: border-box;
}

.title{
    position: absolute;
    width: 412px;
    height: 41px;
    left: 70px;
    top: 218px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
    color: #293264;
}

.subtitle{
    position: absolute;
    width: 318px;
    height: 19px;
    left: 117px;
    top: 266px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
}

    .start--button{
    position: absolute;
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;
    background: #4D5B9E;
    border-radius: 15px;
}

.start--button--text{
    width: 136.11px;
    height: 20.58px;
    left: 207.09px;
    top: 330.25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
}
.quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}
.questions{
    width: 80%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-bottom: 13px;
}

.options {
    width: max-content;
    background: #F5F7FB;
    border: #4D5B9E 0.8px solid;
    border-radius: 7.94239px;
    margin-top: 4px;
    margin-right: 12px;

}

.choice {
    width: max-content;
    background: #D6DBF5;
    border: #4D5B9E 0.8px solid;
    border-radius: 7.94239px;
    margin-right: 12px;  
    margin-top: 4px;  
}

.wrong{
    width: max-content;
    background: #F8BCBC;
    color: #293264;
    border: #4D5B9E 0.8px solid;
    border-radius: 7.94239px;
    margin-right: 12px;
    margin-top: 4px;
}

hr{
    margin-top: 20px;
    width: 500px;
    
}

.display--score{
    display: flex;
    justify-content: center;
    align-items: center;

}
.check--answer{
    width: 120px;
    height: 35px;
    left: 215px;
    top: 490px;
    background: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10px;
}

.replay--button{
    width: 104px;
    height: 30px;
    left: 348px;
    top: 488px;
    background: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10px;
    margin-left: 10px;
}